$white: #fff;
$gray-light: #EBE7DC;
$gray-mid: #777;
$gray-dark: #434343;
$gray-darker: #343434;
$black: #000;
$text: $gray-dark;

$orange: #FF4630;

$red: #EB1700;
$red-darker: #CC1400;

$jade: #20A78C;
$jade-dark: #1A846F;
$jade-darker: #146656;

// form inputs
$jade-bg: rgba(91, 203, 181, 0.1);
$green-border: #219653;
